body {
    background-color: black;
}
#titulo {
    color: greenyellow;
    font-size: 80px;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 40px;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    color: greenyellow; /* Texto fica verde */
    transform: scale(1.05); /* Expande o botão ligeiramente */
    box-shadow: 0 0 25px greenyellow; /* Sombra verde */
}

#titulo {
    font-family: 'Impact', sans-serif;
}

#nivel {
    color: greenyellow;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#opcao {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#titulo1 {
    color: greenyellow;
}